<link rel="stylesheet" href="{{url}}/journal.css">
<table>
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>

        {{#each journals}}
             <tr>
            <td>{{incremented @index}}</td>
            <td><img src="{{previewPicture}}" alt=""></td>
            <td><b>{{name}} </b><br><i>{{formatDate createdAt}}</i></td>
            <td>{{description}}</td>
            <td><div class="btn-group">
                <a class="btn button-link" href="{{journal_source}}" download="">Download</a>
                <a class="btn button-link" href="journal/{{query}}">View</a>
                {{#if ../isLogged}}
                <a class="btn button-link delete" href="{{../url}}add/deleteJournal/{{query}}">delete</a>
                {{/if}}
            </div></td>
        </tr>
        {{/each}}
    </tbody>
</table>
