<link rel="stylesheet" href="{{url}}/journal.css">
<table>
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>
        {{#each journals}}
             <tr>
            <td>{{incremented @index}}</td>
            <td><img src="{{previewPicture}}" alt=""></td>
            <td>{{name}} {{formatDate createdAt}}</td>
            <td>{{description}}</td>
            <td><div class="btn-group">
                <a class="btn button-link" href="{{journal_source}}" download="">Download</a><a class="btn button-link" href="view/{{query}}">View</a>
            </div></td>
        </tr>
        {{/each}}
    </tbody>
</table>
